OPENAI_API_KEY=your_key_here
VITE_OPENAI_API_KEY=your_key_here
PORT=3001
AUTH_EMAIL=Zoom@alpha.ae
AUTH_PASSWORD=Zoom@#$%
SESSION_SECRET=change_me
ADMIN_EMAIL=zoomadmin@alpha.ae
ADMIN_PASSWORD="Zoom@#$%"
VIEWER_EMAIL=zoomviewer@alpha.ae
VIEWER_PASSWORD="Zoom@#$%"

